{% import '_includes/forms.twig' as forms %}

<div style="padding: 16px 8px 8px 8px">
    {{ forms.lightswitch({
        name: propertyConfig.handle,
        type: propertyConfig.type,
        on: value ?? ''
    }|merge(propertyConfig.fieldConfig ? propertyConfig.fieldConfig|json_decode : {})) }}
</div>