{% import '_includes/forms.twig' as forms %}

<div style="max-width: 300px;">
    {{ forms.dateTimeField({
        name: propertyConfig.handle,
        type: propertyConfig.type,
        minuteIncrement: 15,
        value: value ?? ''
    }|merge(fieldConfig)) }}
</div>