{% import '_includes/forms.twig' as forms %}

<div style="padding: 8px 8px 8px 8px; display: flex; align-items: center">
    {{ forms.lightswitch({
        name: "#{propertyConfig.handle}[isOn]",
        on: value['isOn'] ?? '',
    }) }}

    {{ forms.text({
        name: "#{propertyConfig.handle}[comment]",
        label: 'Comment',
        class: 'text-combined text-margin',
        placeholder: 'Comment',
        value: value['comment'] ?? ''
    }) }}
</div>