{% import '_includes/forms.twig' as forms %}

{% set fieldConfig = propertyConfig.fieldConfig ? propertyConfig.fieldConfig|json_decode : {} %}

<div style=";">
    {{ forms.range({
        name: propertyConfig.handle,
        type: propertyConfig.type,
        value: value ?? '',
        min: 0,
        max: 100
    }|merge(fieldConfig)) }}
</div>

{% if fieldConfig and 'suffix' in fieldConfig %}
    {{ fieldConfig.suffix }}
{% endif %}

{% css %}
.properties-field .range-wrapper {
    width: 500px;
}
{% endcss %}