{% import '_includes/forms.twig' as forms %}

<div style="padding: 12px;">
   <div>
       {{ forms.range({
           name: propertyConfig.handle,
           type: propertyConfig.type,
           value: value ?? '',
           min: 0,
           max: 100
       }|merge(fieldConfig)) }}
   </div>
</div>

{% if fieldConfig and 'suffix' in fieldConfig %}
    {{ fieldConfig.suffix }}
{% endif %}

{% css %}
.properties-field .range-wrapper {
    width: 500px;
}
{% endcss %}